// 弹性布局
// 赋值是 ‘= ’不是‘：’; 变量不能用@符号来标识（注意命名）
card-flex($content=space-between, $direction=row)
  display flex
  justify-content $content
  flex-direction $direction
  flex-wrap wrap

// card-list(@top: 0)
//   card-flex()
//   margin-top @top